*, *::before, *::after { box-sizing: inherit; }
html{
    box-sizing: border-box;
}
/* Box-sizing */
*{
    margin: 0;
    padding: 0;
    font-family: "Avenir Next", "Avenir", sans-serif;
    scroll-behavior: smooth;
}
@font-face {
  font-family: Bodrum;
  src: url(font/bodrum-soft-15-medium.otf);
}
/*Feel free to change the code below */
.section-container{
  min-height: 100vh;
}
.container{
  aspect-ratio: 16/9;
  width: 130vmin;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  overflow: hidden;
  border: 10px solid #12007a;
  border-radius: px;
  box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
}
.wrapper{
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}
@keyframes slide{
  0%{
    transform: translateX(0);
}
20%{
    transform: translateX(0);
}
30%{
    transform: translateX(-100%);
}
45%{
    transform: translateX(-100%);
}
55%{
    transform: translateX(-200%);
}
75%{
    transform: translateX(-200%);
}
85%{
    transform: translateX(-300%);
}
90%{
    transform: translateX(-300%);
}
100%{
    transform: translateX(-400%);
}
}
.wrapper1 img{
  width: 100%;
  object-fit: cover;
}

