*, *::before, *::after { box-sizing: inherit; }
html{
    box-sizing: border-box;
}
/* Box-sizing */
*{
    margin: 0;
    padding: 0;
    font-family: "Avenir Next", "Avenir", sans-serif;
    scroll-behavior: smooth;
}
@font-face {
  font-family: Bodrum;
  src: url(font/bodrum-soft-15-medium.otf);
}
/*Feel free to change the code below */
.container{
    height: 100rem;
  }
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .background-water {
    background-color: #ADD8E6;
    width: 80%;
    padding: 2rem;
    text-align: center;
    color: black;
  }
  
  .title {
    font-family: Bodrum; 
    background-color: #ADD8E6;
    font-size: 4rem; 
  }
  
  .row {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  }
  
  .box {
    position: relative;
    width: 30%;
  }
  
  .product-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
    box-shadow: 8px 12px 16px rgba(0, 0, 0, 0.1);
  }
  
  .box:hover .product-image {
    transform: scale(1.1);
  }
  
  .promo,
  .price {
    position: absolute;
    bottom: -4rem;
    left: 50%; 
    transform: translateX(-50%);
    width: fit-content; 
    padding: 0.5rem;
    color: black; 
    font-weight: bold;
    font-size: 2rem;
    text-align: center; 
    background-color: #ADD8E6; 
    border-radius: 1rem; 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  }
  
  
  
  
  .promo {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .price {
    right: 0;
  }
  body {
    background-color: #ADD8E6; 
  }
  